<div class="global">
    <div class="center">
        <div class="image-left">
            <img src="assets/images/login-logo-flip.png">
        </div>
<div class="form">
    <form [formGroup]="loginForm">

        <div *ngIf="isSubmitted && authError">
            <span style="color:red">Invalid email or password</span>
        </div>

        <div>
            <mat-form-field class="example-form-field" appearance="fill">
                <mat-label>Email</mat-label>
                <input matInput type="text" formControlName="email">
            </mat-form-field> 
        </div>

        <div>
            <mat-form-field class="example-form-field" appearance="fill">
                <mat-label>Password</mat-label>
                <input matInput type="password" formControlName="password">
            </mat-form-field> 
        </div>

        <div class="btn">
            <button mat-raised-button color="accent" (click)="onSubmit()">Sign In</button>
        </div>

        <div class="links">
            <a routerLink="#">Forgot your password ?</a><br>
            <a routerLink="/users/register">No account ? Create one here !</a>
        </div>

    </form>
</div>
</div>


<div class="image-right">
    <img src="assets/images/login-logo.webp">
</div>
</div>