<div class="under">
    <button mat-raised-button color="primary" routerLink="/"><mat-icon>keyboard_return</mat-icon>Back to shop</button>
</div>

<div class="global">
    <div>
        <div *ngFor="let cartItem of cartItemDetailed; let i = index">
            <mat-card class="example-card">
                <mat-card-title-group>
                  <mat-card-title>{{cartItem.item.name}}</mat-card-title>
                  <mat-card-subtitle>{{cartItem.item.category.name}}</mat-card-subtitle>
                  <mat-card-subtitle>Unit price : {{cartItem.item.price}}</mat-card-subtitle>
                  <mat-card-subtitle>Total Price : {{cartItem.quantity * cartItem.item.price}}</mat-card-subtitle>
                  <mat-card-subtitle>Quantity : {{cartItem.quantity}}</mat-card-subtitle>
                  <img mat-card-lg-image [src]="cartItem.item.image" >
                </mat-card-title-group>
                <mat-card-content>
                  {{cartItem.item.description}}
                </mat-card-content>
                <button mat-icon-button color="warn" (click)="removeItem(i, cartItem)"><mat-icon>delete</mat-icon></button>
              </mat-card>
        </div>
    </div>

    <div>
    <h1 class="centered">
        We offer free shipping only this month !
    </h1>


    <div>
        <img class="rightToLeft" src="assets/images/logo.png" width="200px" height="200px">
        <img class="rightToLeft" src="assets/images/fighting-head-fox-logo.png" width="200px" height="200px">
        <img class="rightToLeft" src="assets/images/login-logo.webp" width="200px" height="200px">
    </div>
    


    <div class="btn-valid">
        <button mat-raised-button color="accent">Proceed To Payment</button>
    </div>
</div>
</div>