<div class="btn">
    <button mat-raised-button color="primary" routerLink="/users/form">Create New User</button>
</div>

<table mat-table [dataSource]="users" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Position Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> email </th>
      <td mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="passwordHash">
      <th mat-header-cell *matHeaderCellDef> PasswordHash </th>
      <td mat-cell *matCellDef="let element"> {{element.passwordHash}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="isAdmin">
      <th mat-header-cell *matHeaderCellDef> Is Admin ? </th>
      <td mat-cell *matCellDef="let element"><div *ngIf="element.isAdmin"><mat-icon>check_circle_outline</mat-icon></div></td>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef> Edit </th>
      <td mat-cell *matCellDef="let element"><button mat-icon-button color="primary" (click)="forwardToForm(element._id)"><mat-icon>edit</mat-icon></button></td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef> Delete </th>
      <td mat-cell *matCellDef="let element"><button mat-icon-button (click)="deleteModal(element)" color="warn"><mat-icon>delete</mat-icon></button></td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  
  