<form [formGroup]="userForm">

    <div class="global">
        <div>
            <span style="color:red" *ngIf="isSubmitted && (userForm.get('email').invalid || userForm.get('email').invalid)">Email and Password are required</span>
        </div>

        <div>
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Email</mat-label>
                <input type="email" formControlName="email" placeholder="Ex. pat@example.com" matInput>
              </mat-form-field>
        </div>

        <div>
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Password</mat-label>
                <input type="password" formControlName="password" matInput>
              </mat-form-field>
        </div>

        <mat-slide-toggle
            class="example-margin"
            color="primary"
            formControlName="isAdmin">Is Admin ?</mat-slide-toggle>

            <div>
                <button type="button" mat-raised-button (click)="onSubmit()" color="accent">Submit</button>
            </div>
    </div>
</form>
