<form [formGroup]="categoryForm">
    <div class="global">

        <div>
            <mat-form-field appearance="fill">
                <mat-label>Name</mat-label>
                <input type="text" matInput formControlName="name">
              </mat-form-field>
            <!--<div style="color:red" *ngIf="categoryForm.get('name').invalid && isSubmitted">*Name is required</div>-->
        </div>
        <div>
              <mat-form-field appearance="fill">
                <mat-label>Category Type</mat-label>
                <input type="text" matInput formControlName="categoryType">
              </mat-form-field>
    
        </div>

        <div>
            <button type="button" mat-raised-button color="accent" (click)="onSubmit()">Submit</button>
        </div>



        
    </div>


</form>