
<footer>
    <div class="carre1">
        <div class="block1">
            <div class="blockA">Accepted payments : </div>
            <div class="blockB">
                <div class="elem1"><img src="assets/images/visa.png" height="80px" width="80px"></div>
                <div class="elem2"><img src="assets/images/mastercard.png" height="80px" width="80px"></div>
                <div class="elem3"><img src="assets/images/paypal.png" height="80px" width="80px"></div>
                <div class="elem4"><img src="assets/images/Apple Pay.png" height="80px" width="80px"></div>
            </div>
        </div>
        <div class="block2">
            <div class="blockC">Delivery</div>
            <br>
            <div class="blockD"><img src="assets/images/DHL.png" alt="logo_DHL" height="80px" width="120px"></div>
        </div>
    </div>

    <div class="carre2">
        <div class="block3">
            <div class="blockE">Informations</div>
            <br>
            <div><a href="#">FAQ</a></div>
            <div><a href="#">SiteMap</a></div>
            <div><a href="#">Underlekht</a></div>
        </div>
        <div class="block4">
            <div class="block4bis">
                <div class="skurt">
                <div class="blockF">Menu</div>
                <br>
                <div><a href="#">Home</a></div>
                <div><a href="#">Items</a></div>
                </div>
                
                <div class="skurt2">
                <div class="blockG">Account</div>
                <br>
                <div><a href="#">Login</a></div>
                <div><a href="#">Register</a></div>
                </div>
            </div>
        </div>
        <div class="block5">
            <div class="rs">Find us social media plateforms</div>
            <br>
            <div class="logos">
                <div class="elem5"><img src="assets/images/facebook.png" alt="reseaux-sociaux" height="80px" width="80px"></div>
                <div class="elem6"><img src="assets/images/instagram.webp" alt="reseaux-sociaux" height="80px" width="100px"></div>
                <div class="elem7"><img src="assets/images/twitter.png" alt="reseaux-sociaux" height="80px" width="80px"></div>
            </div>
            <div class="recherche">
                <input type="text" class="inp" placeholder="What are you looking for ?">
                <button>Search</button>
            </div>
        </div>
        
        </div>
    </footer>
    